# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- List commonly used libraries in Data Science  
- Demonstrate arithmetic expressions in Python  
- Create tables using Markdown  
- Use code cells to run calculations

Some of the popular languages that Data Scientists use are:
1. Python  
2. R  
3. SQL  
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy  
2. Pandas  
3. Matplotlib  
4. Scikit-learn

| Data Science Tools         |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Apache Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in Python.

Create a code cell to multiply and add numbers

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

Create a code cell to convert minutes to hours

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author  
Nakandalage Janeesha Dewmini